*{
    margin: 0;
    padding:0;
}

.topbanner{
    display: flex;
    width: 100%;
    justify-content: flex-end ;
    text-align: center;
    background-color: #F3F4EF;
    height: 40px;
    color: #779882;
  
}

nav .navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    font-size: 60px;   
    background-color: #779882; 
}

main img{
    max-width: 100%;
    
}

main h1, h2{
    color: white;
    background-color: #779882;
    display: flex;
    justify-content: center;
    
    
}

footer{
    background-color: #425348;
    padding: 30px 0px 100px 0px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    gap: 15em;
    font-size: 30px;
}
